.App {
  text-align: center;
  padding: 10px; 
  background-color: #a0c4ff;
}

.app-description{
  padding-bottom: 20px;
}

.checkbox{
  margin: 5px; 
}

.unrealistic-thought{
  width: 50%; 
}

.realistic-reframe{
  width: 50%; 
}

.fieldset{
  border: none;
}

.unrealistic-thought-label{
  margin-left: 20px; 
}

.submit-button{
  background-color: #9bf6ff;
}

.journal-titles{
  display:flex;
  background-color: #9bf6ff;
}

.journal-entries {
  display: flex; 
}

.journal-date{
  width: 11%; 
  border: solid black;
  padding: 20px;
}

.journal-unrealistic-thought{
  width: 32%; 
  border: solid black; 
  border-left: none; 
  padding: 20px;
}

.journal-cognitive-distortions{
  width: 25%; 
  border: solid black; 
  border-left: none; 
  padding: 20px;
}

.journal-realistic-reframe{
  width: 32%; 
  border: solid black; 
  border-left: none; 
  padding: 20px;
}
